__pycache__/
venv/
.venv-test/
*.py[cod]
*$py.class

*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/

.coverage
.coverage.*
htmlcov/

.vscode/
.idea/

*.egg-info/
*.egg
build/
dist/

graphs/
database_storage.db

.env
.env.*
